.about-page {
  margin: 4rem 2rem;
}
.about-page .about-page__title {
  text-align: center;
  margin: 2rem 0;
}
.about-page .about-page__subtitle {
  text-align: center;
  margin: 1.5rem 0;
}
.about-page ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-page ul li {
  margin: 0.5rem 1rem;
}
.about-page .skills-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.about-page .skills-container i {
  margin: 1rem;
}