.purple-block {
	background-color: $dark-purple;
	width: 1px;
	transform: rotate(-35deg) translateX(-50vw) translateY(25vh);
	animation: animate-sm-screens 2000ms ease-in-out 1000ms forwards;
}

.purple-block:nth-of-type(1) {
	height: 1.5vh;
	margin: 75px 0 75px;
	filter: blur(14px);
}

.purple-block:nth-of-type(2) {
	height: 3.25vh;
	filter: blur(28px);
}

@keyframes animate-sm-screens {
	100% {
		transform: rotate(-35deg) translateX(-50vw) translateY(25vh) scaleX(10000);
	}
}

// tablets
@media screen and (min-width: 767.98px) {
	.purple-block {
		transform: rotate(-35deg) translateX(-50vw) translateY(40vh);
		animation: animate-md-screens 2000ms ease-in-out 1000ms forwards;
	}
}

@keyframes animate-md-screens {
	100% {
		transform: rotate(-35deg) translateX(-50vw) translateY(40vh) scaleX(10000);
	}
}

// small laptops / large tablets
@media screen and (min-width: 1023.98px) {
	.purple-block {
		transform: rotate(-35deg) translateX(-50vw) translateY(50vh);
		animation: animate-lg-screens 2000ms ease-in-out 1000ms forwards;
	}
}

@keyframes animate-lg-screens {
	100% {
		transform: rotate(-35deg) translateX(-50vw) translateY(50vh) scaleX(10000);
	}
}

// most laptops / computers
@media screen and (min-width: 1439.98px) {
	.purple-block {
		transform: rotate(-28deg) translateX(-50vw) translateY(50vh);
		animation: animate-xl-screens 2000ms ease-in-out 1000ms forwards;
	}
}

@keyframes animate-xl-screens {
	100% {
		transform: rotate(-28deg) translateX(-50vw) translateY(50vh) scaleX(10000);
	}
}

// large monitors
@media screen and (min-width: 2559.98px) {
	.purple-block {
		transform: rotate(-23deg) translateX(-50vw) translateY(60vh);
		animation: animate-xxl-screens 2000ms ease-in-out 1000ms forwards;
	}
}

@keyframes animate-xxl-screens {
	100% {
		transform: rotate(-23deg) translateX(-50vw) translateY(60vh) scaleX(10000);
	}
}
