.projects-carousel {
	height: 100%;
	width: 100%;
	.projects-carousel__projects-wrapper {
		display: flex;
		transition: transform 2s cubic-bezier(0.9, 0, 0.1, 1);
		.project {
			min-width: 100%;
			margin-bottom: 2.5rem;
			padding: 0 2rem;

			.project__title {
				text-align: center;
				margin: 1.5rem;
			}

			img {
				max-width: 80%;
				display: block;
				margin: 2rem auto;
				border-radius: 4px;
			}

			.project__description {
				margin: 2rem;
			}

			.project__links {
				display: flex;
				justify-content: space-evenly;
			}
		}
	}
	.projects-carousel__buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 2rem;
		.indicators {
			i {
				margin: 0.25rem;
			}
		}
	}
}
