.nav-btn {
  cursor: pointer;
  display: block;
  position: fixed;
  top: 1rem;
  right: 1rem;
  height: 50px;
  margin-left: auto;
  z-index: 2;
  transform: translateX(200%);
}

.nav-btn--clicked {
  position: absolute;
}