.hero {
  transform: translateZ(-5px) scale(6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1000ms, filter 400ms;

  &.hide {
    filter: blur(4px);
    opacity: 0;
  }

  h1 {
    width: 100%;
    text-align: center;

    & > span {
      opacity: 0;
      display: inline-block;
      transform-origin: top left;
      transform: translateY(6px) rotate(3deg);
      animation: show 600ms cubic-bezier(0.57, -0.18, 0.36, 1.51) 2000ms 1
        forwards;

      @media screen and (min-width: 1100px) {
        animation-delay: 4500ms;
      }

      &:nth-child(2) {
        animation-delay: 2200ms;
        @media screen and (min-width: 1100px) {
          animation-delay: 4600ms;
        }
      }
    }
  }

  ul {
    list-style: none;
    margin: 1rem auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    li {
      text-align: center;
      transform: translateY(4px);
      opacity: 0;
      animation: show 400ms ease-in-out 1 forwards;
      &:nth-of-type(1) {
        animation-delay: 2500ms;
        @media screen and (min-width: 1100px) {
          animation-delay: 5400ms;
        }
      }

      &:nth-of-type(2) {
        animation-delay: 2700ms;
        @media screen and (min-width: 1100px) {
          animation-delay: 5600ms;
        }
      }

      &:nth-of-type(3) {
        animation-delay: 2900ms;
        @media screen and (min-width: 1100px) {
          animation-delay: 5800ms;
        }
      }

      &:nth-of-type(4) {
        animation-delay: 3100ms;
        @media screen and (min-width: 1100px) {
          animation-delay: 6000ms;
        }
      }

      &:nth-of-type(5) {
        animation-delay: 3300ms;
        @media screen and (min-width: 1100px) {
          animation-delay: 6200ms;
        }
      }

      &:last-of-type {
        grid-column: span 2;
        text-align: center;
      }
    }
  }
}
