.body-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.purple-block {
  background-color: #663a89;
  width: 1px;
  transform: rotate(-35deg) translateX(-50vw) translateY(25vh);
  animation: animate-sm-screens 2000ms ease-in-out 1000ms forwards;
}

.purple-block:nth-of-type(1) {
  height: 1.25vh;
  margin: 100px 0 50px;
  filter: blur(12px);
}

.purple-block:nth-of-type(2) {
  height: 1.75vh;
  filter: blur(14px);
}

@keyframes animate-sm-screens {
  100% {
    transform: rotate(-35deg) translateX(-50vw) translateY(25vh) scaleX(10000);
  }
}
@media screen and (min-width: 767.98px) {
  .purple-block {
    transform: rotate(-35deg) translateX(-50vw) translateY(40vh);
    animation: animate-md-screens 2000ms ease-in-out 1000ms forwards;
  }
}
@keyframes animate-md-screens {
  100% {
    transform: rotate(-35deg) translateX(-50vw) translateY(40vh) scaleX(10000);
  }
}
@media screen and (min-width: 1023.98px) {
  .purple-block {
    transform: rotate(-35deg) translateX(-50vw) translateY(50vh);
    animation: animate-lg-screens 2000ms ease-in-out 1000ms forwards;
  }
}
@keyframes animate-lg-screens {
  100% {
    transform: rotate(-35deg) translateX(-50vw) translateY(50vh) scaleX(10000);
  }
}
@media screen and (min-width: 1439.98px) {
  .purple-block {
    transform: rotate(-28deg) translateX(-50vw) translateY(50vh);
    animation: animate-xl-screens 2000ms ease-in-out 1000ms forwards;
  }
}
@keyframes animate-xl-screens {
  100% {
    transform: rotate(-28deg) translateX(-50vw) translateY(50vh) scaleX(10000);
  }
}
@media screen and (min-width: 2559.98px) {
  .purple-block {
    transform: rotate(-23deg) translateX(-50vw) translateY(60vh);
    animation: animate-xxl-screens 2000ms ease-in-out 1000ms forwards;
  }
}
@keyframes animate-xxl-screens {
  100% {
    transform: rotate(-23deg) translateX(-50vw) translateY(60vh) scaleX(10000);
  }
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #121212;
}